code:
	| compilation-unit

compilation-unit:
	| optional-using-directive optional-namespace-member-declaration
	| optional-namespace-member-declaration

optional-using-directive:
	| using-directive
	| EPSILON

using-directive:
	| "using" identifier identifier-attribute ';' optional-using-directive

identifier-attribute:
	| '.' identifier identifier-attribute
	| EPSILON

optional-namespace-member-declaration:
	| namespace-member-declaration
	| EPSILON

type-declaration-list:
	| type-declaration type-declaration-list
	| EPSILON

namespace-member-declaration:
	| namespace-declaration optional-namespace-member-declaration
	| type-declaration-list optional-namespace-member-declaration

type-declaration:
	| encapsulation-modifier group-declaration

namespace-declaration:
	| "namespace" identifier identifier-attribute namespace-body

namespace-body:
	| '{' optional-using-directive optional-namespace-member-declaration '}'

group-declaration:
	| class-declaration
    | interface-declaration
    | enum-declaration

class-declaration:
	| class-modifier "class" identifier inheritance-base class-body optional-body-end

#SEMANTIC: validar que no pueden haber private, ni protected enums afuera de un namespace.
encapsulation-modifier:
	| "public"
	| "protected"
	| "private"
	| EPSILON

class-modifier:
	| "abstract"
	| EPSILON

inheritance-base:
	| ':' identifiers-list
	| EPSILON

class-body:
	| '{' optional-class-member-declaration-list '}'

